
/*browser specify*/

/* for fill text with image(webkit only)
.imageBackground{
	background: url("./image/background.jpg");
	background /clip裁剪/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */