/*global*/

h1 {
    font: 60px Roboto, sans-serif;
    color: #88f;
}

:not(html) :not(body){
	margin: 0px;
}


/*layer 0*/

/*for fill text with image(webkit only)
.imageBackground{
	background: url("./image/background.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*/

.imageBackground {

}


#header {
    width: auto;
    height: 100px;
    /*background: #8888ff;*/
}