<!DOCTYPE html>
<html>

<head>
    <title>EnV.js</title>
    <meta charset="utf-8">
    <meta name="author" content="MISAKI">
    <meta name="keywords" content="EnV.js, Enhance Vision JavaScript for development combining TDD, VID and visual experience, Html5 web application">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, user-scalable=no">
    <link href="./dist/res/image/home.png" size="32x32" rel="icon" type="image/png">
    <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
    <link href="./dist/css/main.css" rel="stylesheet" type="text/css">
    <link href="./dist/css/mediaQuery.css" media="screen and (max-width:960px)"  rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script src="./dist/js/JSTest.js" type="module" defer></script>
    <script src="./dist/js/vueTest.js" type="module" defer></script>
    <script src="./dist/js/canvas.js" type="module" defer></script>
    <!-- qunit -->
    <!-- <link href="../qunit/qunit.css" rel="stylesheet" type="text/css"> -->
    <!-- <script src="../qunit/qunit.js"></script> -->
    <!-- <script src="./js/qunitTest.js"></script> -->
    <!-- requireJS -->
    <!-- <script data-main="./js/main.js" src="./js/require.js"></script> -->
</head>

<body>
    <div id="infoPrint"></div>
    <div id="display">
        <h1>single item render(listen:click)</h1>
        <div id="vue-mes" v-on:click="toogleTip">
            <span v-bind:title="tip" >original value: "{{this.mes + "(String)"}}"</span>
            <p>computed value: "{{this.reversedMes}}"</p>
            <p>dependent data: {{this.date}}</p>
        </div>
        <h1>v-for render</h1>
        <div id="vue-for">
            <span v-for="v in arr">{{v}}</span>
        </div>
        <h1>v-if render</h1>
        <div id="vue-if">
            <span v-if="see">{{see}}</span>
        </div>
        <h1>v-model render</h1>
        <div id="vue-model" v-bind:class="[this.blue]" v-bind:style="this.classes">
            <p>display: {{this.mes}}</p>
            <input type="text" name="vueTest" v-model="mes" placeholder="input something">
        </div>
        <h1>v-component render</h1>
        <div id="vue-component" v-show="true">
            <todo-item v-for="item in list" v-bind:todo="item" v-bind:key="item.id">
            </todo-item>
        </div>
    </div>
</body>

</html>